.head {
    background-color: #28a745;
    color: #eef4f3;
    width: 95%;
    padding: 20px 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
}