@page "/BookingSection"
@using Details
@using Table
@inject NavigationManager NavigationManager

@rendermode InteractiveServer
<body style="background-color:rgb(97, 231, 162);">
<center><h1 class = "head">Booking Section</h1></center>
<center>
    <button type="button" class="btn custom-btn" @onclick="BookSeats">To Book Seats</button><br><br>
    <button type="button" class="btn custom-btn" @onclick="DiscountOffer">Discount Offer</button><br><br>
    <button type="button" class="btn custom-btn" @onclick="Back">Back</button><br><br>
</center>
</body>
<style>
.custom-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

.custom-btn:hover {
    background-color: #218838;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.custom-btn:active {
    background-color: #1e7e34;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}
.background {
  background-color: #28a745; 
  color:#f7f9f7;
  padding: 10px;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  }
.head
{
background-color: #28a745; 
color:#eef4f3;
width: 95%;
padding: 20px 20px;
font-size: 25px;
font-weight: bold;
border-radius: 25px;
text-align: center;
}
</style>
@code
{

    private async Task BookSeats()
    {
        NavigationManager.NavigateTo("/RouteAndSlot");
    }

    private async Task DiscountOffer()
    {
        DiscountDetails.SetDiscountDetails();
        NavigationManager.NavigateTo("/DiscountOffer");
    }
    private async Task Back()
    {
        NavigationManager.NavigateTo("/MainSection");
    }
}