@page "/"
@using Details
@using Table
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer


<PageTitle>Beast Booking</PageTitle>

<body class ="body">
<div class ="container">
    <h1 class="head"><center>Welcome to Beast Booking</center></h1>
    <div class="button-container">
        <button type="button" class="btn custom-btn" @onclick="Login">Login</button>
        <button type="button" class="btn custom-btn" @onclick="CreateAccount">Create Account</button>
    </div>
</div>



</body>
<style>
.container {
    text-align: center;
    padding: 30px 50px;
    background-color: rgba(220, 214, 214, 0.8); 
    border-radius: 10px;
    position: absolute; 
    top: 5%; 
    left: 55%;
    transform: translateX(-60%); 
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url('images/RCB.jpg'); 
    background-size: contain; 
    background-position: center center;
    background-repeat: no-repeat;
}



.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.btn.custom-btn {
    background-color: #28a745;
    color: rgb(224, 235, 231);
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn.custom-btn:hover {
    background-color: #e40b28;
}

</style>

@code {

    private async Task Login()
    {
        NavigationManager.NavigateTo("/Login");
        CustomerDetails.customer = new CustomerTable();
    }

    private async Task CreateAccount()
    {
        NavigationManager.NavigateTo("/CreateAccount");
        CustomerDetails.customer = new CustomerTable();
    }
}